img{
    display: block;
    width: 300px;
    height: 300px;
    margin: -90px auto;
}

.resp{
    display: inline-block;
    padding: 50px;
    width: 33%;
    text-align: center;
    border-bottom: 2px solid red;
}

.resp iframe{
    height: 20vw;
    width: 100%;
}

.resp h1{
    font-family: 'Reem Kufi Fun', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    height: 70px;
    margin-top: auto;
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}
.alinhar{
    margin: auto;
    width: 80%;
    height: 700px;
}

.alinhar iframe{
    text-align: center;
    width: 100%;
    height: 100%;
}

h1.inicio{
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(252, 94, 94);
    text-shadow: rgb(255, 0, 0) 1px 1px 1px;
    font-family:'Reem Kufi Fun', sans-serif;
}
footer{
    text-align: center;
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.493);
}
::-webkit-scrollbar{
    display: none;
}

h6{
    font-family:'Reem Kufi Fun', sans-serif;
    text-align: center;
    font-size: 1.6em;
    margin: 0;
}

@media (min-width: 1200px) {
    .alinhar{
        margin: auto;
        width: 60%;
    }

    .resp iframe{
        height: 13vw;
        width: 100%;
    }

    .resp{
        width: 25%;
    }
}

@media (max-width:900px){
    h1.inicio{
        font-size: 1.5em;
    }
    h6{
        font-size: 1.4em;
    }
    .alinhar{
        margin: auto;
        width: 80%;
    }

    .alinhar iframe{
        width: 100%;
        height: 100%;
    }
    .resp iframe{
        height: 38vw;
        width: 100%;
    }
    .resp{
        display: inline-block;
        padding: 50px;
        width: 90%;
        text-align: center;
        border-bottom: 2px solid red;
    }
}